* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #f3f7fa; */
  background-image: url(/media/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background-color: #111e36;
}
/*Navigation bar*/
.navbar {
  width: 100%;
  background-color: #111e36;
}

.navbar-light .navbar-toggler {
  filter: invert(1);
}

#logo {
  padding: 5px;
  width: 20%;
  min-width: 228px;
}

#navbarNav {
  justify-content: right;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#navbarNav li a {
  color: azure;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#navbar ul {
  justify-content: space-between;
  width: 80%;
}
@media (max-width: 991px) {
  ul.navbar-nav {
    display: none;
  }
}

#navbarNav li {
  margin: 0, 3%;
}

/*header*/
.bannerctn {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: azure;
}
.titlectn {
  position: absolute;
}

#videobg {
  height: 75%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 75%;
}
/*P media*/

@media (min-width: 1366px) {
  .textctn p {
    font-size: 1.2em;
  }
  .whyus p {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  div.dblctn {
    flex-direction: column !important;
  }
  .dblctn div {
    width: 100%;
  }
}

/* btn */
#btnnext {
  border: 1px solid #111e36;
  border-radius: 0%;
  width: 100%;
  color: #3b537c;
  background-color: #111e36;
  box-shadow: 0px 3px 12px -4px rgba(59, 62, 89, 0.48);
  margin: 0%;
  padding: 0%;
  padding-bottom: 0.3%;
  text-align: center;
  align-items: center;
}
