html {
  scroll-behavior: smooth;
}
body {
  background-color: #f3f7fa;
  background-image: url(./media/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0%;
}

header {
  background-color: #111e36;
}
/*Navigation bar*/

.navbar {
  width: 100%;
  max-height: 50px;
  background-color: #111e367c;
  padding: 0%;
}

.navbar-light .navbar-toggler {
  filter: invert(1);
}

#logo {
  padding: 5px 20px;
  width: 20%;
  min-width: 228px;
}

#navbarNav {
  justify-content: right;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
#navbarNav li a {
  color: azure;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#navbar ul {
  justify-content: space-between;
  width: 80%;
}
@media (max-width: 991px) {
  ul.navbar-nav {
    display: none;
  }
}

#navbarNav li {
  margin: 0 5px;
}

/* btn */
#btnnext {
  border: 1px solid #111e36;
  border-radius: 0%;
  width: 110%;
  min-height: 20px;
  color: #3b537c;
  background-color: #111e36;
  box-shadow: 0px 3px 12px -4px rgba(59, 62, 89, 0.48);
  margin: 0%;
  padding: 0%;
  padding-bottom: 0.3%;
  text-align: center;
  align-items: center;
}
/*header*/
div.jumbotron,
.jumbotron-fluid .container-fluid {
  padding: 0%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.2) 40%, transparent);
  overflow: hidden;
}
.jumboheader {
  position: absolute;
  color: azure;
  font-weight: 300;
  min-height: 90%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#subtitle {
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin: 0%;
}

@media (min-width: 393px) {
  p {
    text-align: center;
  }
}
@media (max-width: 393px) {
  p {
    text-align: left;
  }
}

#jumbo {
  margin-bottom: 0px !important;
  max-height: 930px;
}

#videobg {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 75%;
}
/*Title*/

.jumboheader h1 {
  font-family: "EB Garamond", serif;
  font-size: 4em;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 25px;
}

/*P media*/

@media (min-width: 1366px) {
  .textctn p {
    font-size: 1.2em;
  }
  .whyus p {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  div.dblctn {
    flex-direction: column !important;
  }
  .dblctn div {
    width: 100%;
  }
}

/*Why Us*/

#titlectn .container {
  min-width: 100%;
}
#titlectn .row {
  padding: 14.5% 0%;
  text-align: center;
}

.why-us h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  padding: 8% 20%;
  margin: 0%;
}

.why-us img {
  width: 80%;
  padding: 5% 20%;
}

.why-us p {
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 12%;
  margin-bottom: 0px;
}
#p2 {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
  background-color: #111e36;
  color: azure;
}

@media (max-width: 767px) {
  #img1 {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: 60%;
    width: 50%;
  }
}

/*Advertisement*/

#advertisement {
  display: flex;
  flex-direction: column;
}

#advertisement h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  padding: 8%;
  margin: 0%;
}

#advertisement p {
  text-align: justify;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 8% 10%;
  margin-bottom: 0px;
}

.dblctn {
  display: flex;
}

.dblctn div {
  width: 50%;
}

#advertisement img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*Content*/

#content {
  display: flex;
  flex-direction: column;
}

#content h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  padding: 50px;
}

#content p {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  padding: 2% 10%;
  margin-bottom: 0px;
}

#content .dblctn {
  color: azure;
}

#content .dblctn div {
  width: 100%;
}

#content .textctn {
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 3%, rgba(0, 0, 0, 0.5) 60%, transparent);
  padding: 2%;
}

#content video {
  position: relative;
  z-index: -1;
  height: 512px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/*SEO*/

#seo {
  display: flex;
  flex-direction: column;
}

#seo h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  padding: 8%;
  margin: 0%;
}
#seo p {
  text-align: justify;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 6% 10%;
  margin-bottom: 0px;
}

#seo .dblctn {
  display: flex;
  flex-direction: row;
}

#seo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*Social*/

#social {
  display: flex;
  flex-direction: column;
}

#social h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  padding: 8%;
  margin: 0%;
}
#social p {
  text-align: justify;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 6% 10%;
  margin-bottom: 0px;
}

#social .dblctn {
  display: flex;
  flex-direction: row-reverse;
}

#social img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*Immersive*/

#immersive {
  display: flex;
  flex-direction: column;
}

#immersive h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  padding: 8%;
  margin: 0%;
}

#immersive p {
  text-align: justify;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 6% 10%;
  margin-bottom: 0px;
}

#immersive .dblctn {
  display: flex;
  flex-direction: row;
}

#immersive img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* carousel*/
#knowUs {
  min-width: 100%;
  background-color: #111e36;
}

#knowUs img {
  width: 100%;
  object-fit: cover;
}

#knowUs .col {
  padding: 0%;
}
#knowUs h3 {
  font-family: "EB Garamond", serif;
  color: azure;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
  padding: 8%;
  margin: 0%;
}

#knowUs p {
  color: azure;
  text-align: justify;
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
  text-align: justify;
  padding: 0% 10%;
  margin-bottom: 0px;
}

/*Footer*/

footer {
  padding: 0 30px;
  background-color: #111e36;
  border-top: 3px solid #f3f7fa;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

p.text-muted {
  --bs-text-opacity: 1;
  color: azure !important;
}

ul.nav li a {
  color: azure;
}

#footerlogo {
  width: 10%;
  margin: auto;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.text-muted,
ul.nav {
  white-space: nowrap;
  font-size: 14px;
}

@media (max-width: 640px) {
  .text-muted,
  footer ul.nav {
    display: none;
  }
  #footerlogo {
    width: 160px;
  }
}

@media (max-width: 900px) {
  #footerlogo {
    width: 160px;
  }
}
